<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <!-- AwesomeFonts-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
    integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />

    <title>WikiMaps</title>

    <link rel="stylesheet" href="/styles/nav.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />






    <!--JS Apps-->
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAcgyKfKOGItTDzqDIuXCxXiaAZRLK-TjA&"
    async defer></script>
    <script type="text/javascript" src="/scripts/map.js"></script>
  </head>

  <body>
    <%- include('partials/_header') %>

    <section id="allMaps">
      <% for (let info of mapInfo) { %>
    <div class="boxed">
      <body>
        <img src= <%= info.image_url %> height= "334" width= "350"/>
        <h3><%= info.title %></h3>
        <h5>"<%= info.description %>"</h5>
        <div class='icons'>
          <a href="/" class="heart"><i id='heart' class="fas fa-heart" ></i></a>

          <a href="http://localhost:8080/maps/<%= info.id %>" class="globe" style= "text-decoration: none;">
            <i class="fas fa-globe-africa"></i>
          </a>

        </div>

        <% } %>

      </body>
    </div>





</html>
